@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.pd-div-main {
  position: relative;
  margin: 0 auto;
  border: 1px solid white;
  background-color: #EBF7F9;
  border-radius: 17px;
  padding: 50px;
}

.pd-logo {
  background-color: white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pd-logo img {
  width: 150px;
}

.pd-form-item {
  display: flex;
  justify-content: space-between;
}

input {
  background-color: #D8EAEC;
  width: 100%;
  min-width: 400px;
  padding: 10px 20px;
  margin: 8px 2px;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
}

.pd-submit-button {
  background-color: #65E39F;
  color: white;
  width: 200px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 20px 50% 0 50%;
  transform: translate(-50%, -50%);
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
}
